/*----------------------------------------
			Jobfia
	http://www.jobfia.com
----------------------------------------*/

body {
	background: #FFFFFF url('../images/lbg.png') repeat top center;
	font-family: 'Open Sans', arial, sans-serif;
	margin: 0 auto;
	padding: 0;
	font-size: 14px;
	color: #000000;
}

a {
	color: #369DDB;
	text-decoration: none;
}

a:hover {
	color: #96E706;
	text-decoration: none;
}

h1 {
	font-size: 15px;
	color: #000000;
	padding: 0px 0px 0px 6px;
	margin-top: 14;
}

h2 {
	font-weight: bold;
	font-size: 30px;
	color: #777;
	padding: 0px 0px 0px 3px;
	margin-top: 0;
	margin-bottom: 5px;
	border-bottom: 2px solid #F7F7F7;
}

.login_box {
	padding: 15px;
	margin-top: 5px;
	background: #FFFFFF;
	border: 1px solid #EEE;
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
}

.submit {
	padding: 6px 10px;
	background: #89E204;
	border: 1px solid #FEFEFE;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	overflow: visible;
}

.submit:hover {
	background: #9B9B9B;
}

.footer {
	color: #444444;
}